{% extends "base.html" %}
{% block contenu %}
<h1>{{ compte.nom_club if type_compte=="club" else compte.prenoms + " " + compte.nom }}</h1>
<p style="text-align:center;"><a class="bouton" href="{{ url_for('conversation', autre_email=email_visite) }}">Envoyer un message</a></p>
<h2>Publications</h2>
{% for post in posts %}
<div style="background:white;padding:14px;border-radius:8px;margin-bottom:14px;">
{% if post.contenu_texte %}<p>{{ post.contenu_texte }}</p>{% endif %}
</div>
{% endfor %}
{% endblock %}